body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  /* background-color: #f5f2ef; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

/* CARDS */
.card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 50px 0px 50px 0px;
  box-shadow: 10px 10px 10px #c9c9c9;
  background-color: linear-gradient(135deg, #f5c31e 20%, #e2e2e2 20%);
}

/* MIN HEIGHT */
.mh-170 {
  min-height: 170px;
}
.mh-320 {
  min-height: 320px;
}

/* POSITIONS */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

/* TEXT ALIGN */
.text-center {
  text-align: center;
}

/* TITLES */
.title-cap {
 text-transform: capitalize;
}

/* CONTAINER */
.pokedexContainer {
  margin: auto;
  padding: 50px 20px;
}
.pokemonDetailContainer {
  margin: auto;
  padding: 30px 20px;
}
/* GRID ITEMS */

/* POKEMON IMAGES STYLES */
.pokemonPokedexImg {
  top: -80px;
  right: -20px;
  width: 50%;
}
.pokemonDetailImg {
  width: 75%;
}
.pokemonGenImg {
  width: 40%;
}
.pokemonDetailImgLeft {
  left: 5%;
  bottom: 2%;
}
.pokemonDetailImgMain {
  left: 30%;
  z-index: 999;
  bottom: 4%;
}
.pokemonDetailImgRight {
  right: 5%;
  bottom: 2%;
}

/* DISPLAY */
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}

.pokemonName {
  text-transform: capitalize;
  color: #000000;
  margin: 0;
  z-index: 999;
}

.type-flex {
  display: flex;
  flex-wrap: wrap;
}

.type-btn {
  padding: 1em 1em 1em 0em;
}

.type-name {
  background-color: #ffffff;
  cursor: pointer;
  padding: 5px;
  text-transform: capitalize;
  font-size: 1em;
  border: 1px solid #111111;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #111111;
}

/* TITLES */

.pokemonGenTitle {
  text-transform: capitalize;
  color: #222222;
}
