body {
  margin: 0;
  /* height: 100%; */
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}

/* CARDS */

.card {
  margin: 20px;
  min-height: 170px;
  padding: 20px;
  position: relative;
  border: 0px solid #111111;
  border-radius: 5px 5px 5px 5px;
  /* background-color: purple; */
}
.cardgen {
  position: relative;
  margin: 20px;
  min-height: 320px;
  padding: 20px;
  box-shadow: 10px 10px 10px #c9c9c9;
  border-radius: 50px 0px 50px 0px;
  background: linear-gradient(45deg, #000000 20%, #f5f3f3 20%);
}

/* POKEMON IMAGES STYLES */
.imagen {
  position: absolute;
  top: -80px;
  right: -20px;
  width: 50%;
}

.pokemonDetailImgContainer {
  padding: 0 20px 0 20px;
  position: relative;
  min-height: 150px;
}

.pokemonDetailImg {
  width: 40%;
}

.pokemonDetailImgLeft {
  position: absolute;
  left: 5%;
  bottom: 2%;
}

.pokemonDetailImgMain {
  position: absolute;
  left: 30%;
  z-index: 999;
  bottom: 4%;
}

.pokemonDetailImgRight {
  position: absolute;
  right: 5%;
  bottom: 2%;
}

/* FLEX DISPLAY */

.d-flex {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex-start; */
}

.flex-column {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
}

.pokemonNumber {
  margin: 0;
}

.pokemonName {
  text-transform: capitalize;
  color: #000000;
  margin: 0;
  z-index: 999;
}

.type-flex {
  display: flex;
  flex-wrap: wrap;
}

.type-btn {
  padding: 1em 1em 1em 0em;
}

.type-name {
  background-color: #ffffff;
  cursor: pointer;
  padding: 5px;
  text-transform: capitalize;
  font-size: 1em;
  border: 1px solid #111111;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #111111;
}

/* TITLES */

.pokemonGenTitle {
  text-transform: capitalize;
  color: #222222;
}
